.image {
  flex: 1;
  background-image: url("https://wallpaperaccess.com/full/856987.jpg");
}

.container {
  flex: 1;
}

.logosize {
  width: 400px;
  height: 200px;
  align-self: center;
}

.startingtext {
  align-self: center;
  border: 2px solid #f99e1a;
  border-radius: 20px;
  width: 400px;
  padding-top: 15px;
  background-color: #43484c;
  font-size: 20px;
}

.startingtextstyle1 {
  color: #f99e1a;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.startingtextstyle2 {
  color: black;
  font-size: 17px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 12px;
}

.container2 {
  margin-top: 14px;
  display: flex;
  justify-content: center;
}

.center {
  text-align: center;
  height: 50px;
  width: 300px;
  background-color: #43484c;
  color: orange;
  border: 2px solid #f99e1a;
  font-size: 16px;
  margin-left: 18px;
}

.sendsize {
  margin-top: 0;
  width: 80px;
  height: 80px;
  align-self: center;
}

#bck {
  background-color: #43484c;
}