body {
  margin: 0;
  padding: 0;
  background-image: url("https://wallpaperaccess.com/full/856987.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}


.logosize {
  width: 400px;
  height: 200px;
}

#logocontainer {
  align-self: center;
  text-align: center;
}

.startingtext {
  border: 2px solid #f99e1a;
  border-radius: 20px;
  width: 400px;
  padding-top: 7px;
  background-color: #43484c;
  font-size: 20px;
  align-self: center;
  margin: auto;
}

.startingtextstyle1 {
  color: #f99e1a;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.startingtextstyle2 {
  color: black;
  font-size: 17px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.formcontainer {
  display: flex;
  justify-content: center;
  flex: 1;
}

.center {
  text-align: center;
  height: 50px;
  width: 300px;
  background-color: #43484c;
  color: orange;
  border: 2px solid #f99e1a;
  font-size: 16px;
  align-items: center;

}

.sendsize {
  width: 80px;
  height: 80px;
  display: flex;
  justify-content: flex;
  flex: 1;
}

.dropdown {
  margin-right: 20.5%;
  color: #f99e1a;
  background-color: #43484c;
  display: flex;
  flex-direction: column;
  border: gray;
  margin-top: -1.6vh;
  
}

.dropdown-row{
  cursor: pointer;
  text-align: center;
  height: 7vh;
  line-height: 7vh;
}

.dropdown-row:hover {
  background-color: #212226;
}

#bck {
  background-color: #43484c;
}

#flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

.Guesslist {
  text-align: center;
  margin-top: 4vh;
  align-items: center;
  justify-content: center;
  
}

#Guesslist {
  text-align: center;
  align-items: center;
  justify-content: center;
  display: flex;
  
}

.Guesses {

  
}

.CategoreyOutline {
  display: flex;
  justify-content: center;
  margin-top: 2vh;
  
}

.Categorey {
  width: 7.87vw;
  color: #f99e1a;
  border-color: #f99e1a;
  border: 2px solid #212226;
  background-color: #43484c;
}

.HeroGuessInfo {
  width: 7.87vw;
  color: #f99e1a;
  border-color: #f99e1a;
  border: 2px solid #212226;
  background-color: #43484c;
  height: 8vh;
  line-height: 8vh;
}

.VCTEXT {

}

tr {
  display: flex;
}

#gap {
  margin-top: 2vh;
}

.dropdown-content {
  position: absolute;
  background-color: #43484c;
  z-index: 1;
  width: 306px;
}